<h1>About Suggestotron</h1>

<p>Suggestotron is brought to you by the desire to learn Ruby &amp; Rails through the process of building some trivial applications.  Please enjoy.</p>

<p>Suggestotron currently holds entries for <% @topics.count %> individual topics.  Amazeballs!</p>

<p><%= link_to 'Main', topics_path %></p>

